<h1>Public::Posts#new</h1>
<p>Find me in app/views/public/posts/new.html.erb</p>

<div>新規投稿</div>

<div class="row justify-content-center">
<%= form_with model: Post.new, url: '/posts', method: :post do |f| %>

  <div class="form-group">
    <label class="form-label">エリア</label>
    <%= f.text_field :area %>
  </div>

  <!--<div class="form-group">
    <label class="form-label">開催日時</label>
    <%= f.text_field :period, class: "form-control" %>
  </div>

  <div class="form-group">
    <label class="form-label">開催地</label>
    <%= f.text_area :address, class: "form-control" %>
  </div>-->

  <div class="form-group">
    <label class="form-label">イベント画像</label>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="form-group">
    <label class="form-label">イベント名</label>
    <%= f.text_field :event_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <label class="form-label">イベント詳細</label>
    <%= f.text_area :event_detail, class: "form-control" %>
  </div>
  
  <label>タグ(,で区切ると複数タグ登録できます)</label>
        <%= f.text_field :tag_name,value: @tags, class: 'form-control' %>

  <%= f.submit '投稿する', class:"btn btn-success" %>

<% end %>
</div>

