<h1>Public::Posts#show</h1>
<p>Find me in app/views/public/posts/show.html.erb</p>

<h2>イベント詳細</h2>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @post.get_image(150,150) %>
    </div>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-2">イベント名</div>
        <div class="col-md-10 mb-4"><%= @post.event_name %></div>
      </div>

      <div class="row">
        <div class="col-md-2">イベント説明</div>
        <div class="col-md-10 mb-4"><%= @post.event_detail %></div>
      </div>

    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to '編集する', edit_post_path(@post.id), class:"btn btn-sm btn-success" %>
  </div>
  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

  <div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
    <% end %>

  <% end %>
</div>
<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

