<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(100,100) %></td>
        <td><%= link_to user.name, user_path(user.id) %></td>
      </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.get_image(150,150) %></td>
        <td><%= link_to post.event_name, post_path(post.id) %></td>
        <td><%= post.event_detail %></td>
      <% if post.user == current_user %>
        <td><%= link_to '編集', edit_post_path(post.id), class:"btn btn-sm btn-success" %></td>
        <td><%= link_to "削除", post_path(post.id), method: :delete, class:"btn btn-sm btn-danger" %></td>
      <% end %>
        <td><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></td>
        <td>
        <% post.tags.each do |list|%>
          <i class="fa-sharp fa-solid fa-tag"></i>
          <%=link_to list.tag_name,search_tag_path(tag_id: list.id) %>
          <%="(#{list.posts.count})" %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  <% end %>
</table>