<h1>Admin::Users#edit</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5"><%= @user.name %>さんの会員情報編集</h4>
      <table class="table table-borderless">
        <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>

        <tr>
          <td>氏名</td>
          <td><%= f.text_field :name, autofocus: true, id:"inputname", placeholder:"ユーザー名"%></td>
        </tr>

        <tr>
          <td>ユーザー画像</td>
          <td><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, placeholder: "メール" %></td>
        </tr>

        <tr>
          <td>自己紹介</td>
          <td><%= f.text_area :introduction, placeholder:"自己紹介" %></td>
        </tr>

        <tr>
          <td>会員ステータス</td>
          <td>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "有効", { value: :true }  %>

            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "退会済み", { value: :false } %>
          </td>
        </tr>

        <tr>
          <td></td>
          <td><%= f.submit "変更を保存", class:"btn btn-success" %></td>
        </tr>
        <% end %>
      </table>
      <%= link_to "戻る", admin_user_path(@user.id), class:"btn btn-secondary" %>
    </div>
  </div>
</div>