<h1>Admin::Users#show</h1>
<p>Find me in app/views/admin/users/show.html.erb</p>

<div>
  <div>
    <p><%= @user.name %>さんの会員詳細</p>
  </div>
</div>

<div>
  <p>ユーザー名
  <%= @user.name %></p>
</div>

<div>
  <p>ユーザー画像
  <%= image_tag @user.get_profile_image(100,100) %></p>
</div>

<div>
  <p>自己紹介
  <%= @user.introduction %></p>
</div>

<div>
  <p>メールアドレス
  <%= @user.email %></p>
</div>

<%= link_to '編集する', edit_admin_user_path, class:"btn btn-sm btn-success" %>
|
<%#= link_to '注文履歴一覧を見る', admin_customers_path, class:"btn btn-sm btn-primary" %>